:root {
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --dark-text-color: #1f2937;
    --blue-bg-color: #3882f6;
    --dark-bg-color: #1f2937;
    --font-weight-light: 300;
    --font-weight-extra-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.dark-background-color {
    background-color: var(--dark-bg-color);
}

.hero-main-text {
    font-size: 48px;
    color: var(--main-text-color);
    font-weight: var(--font-weight-extra-bold);
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: var(--secondary-text-color);
}

.header-logo-text {
    font-size: 24px;
    color: var(--main-text-color);
}

.button-color,
.call-to-action {
    background-color: var(--blue-bg-color);
}

.header-information-text {
    font-size: 36px;
    font-weight: var(--font-weight-extra-bold);
    color: var(--dark-text-color);
}

.quote-section {
    background-color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5% 17.5%;
    margin: 5% 0%;
}

.quote-text {
    font-size: 36px;
    font-weight: var(--font-weight-light);
    font-style: italic;
    color: var(--dark-text-color);
}

.quote-section p {
    align-self: flex-end;
    font-size: 24px;
    padding-right: 1%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
}

header figure img {
    height: 50px;
    filter: invert(1);
    animation-name: logo-scale;
    animation-duration: 1s;
}

@keyframes logo-scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

header nav menu {
    display: flex;
    gap: 20px;
}

header nav menu li,
footer nav menu li {
    list-style: none;
}

header nav menu li a, 
footer nav menu li a {
    text-decoration: none;
}

header nav menu li a:hover,
header figure img:hover {
    opacity: 50%;
}

article.hero {
    display: flex;
    justify-content: space-between;
    padding: 4% 10% 7.5%;
}

article.hero section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.hero section p {
    line-height: 125%;
}

article.hero section a {
    text-decoration: none;
    background-color: var(--blue-bg-color);
    padding: 6px 30px;
    border-radius: 10px;
    width: fit-content;
}

article.hero section a:hover,
aside.call-to-action a.cta-btn:hover {
    opacity: 80%;
}

article.hero figure img {
    height: 200px;
    border-radius: 5px;
}

article.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}

article.information h2 {
    margin: 1%;
}

article.information section {
    display: flex;
    justify-content: center;
    gap: 2%;
}

article.information section figure {
    width: 15%;
    transition: 1s;
}

article.information section figure img {
    width: 100%;
    border: solid 5px var(--blue-bg-color);
    border-radius: 25px;
    padding: 25px;
}

article.information section figure:hover {
    transform: scale(1.1);
    transition: 1s;
}

article.information section figure figcaption {
    color: #8f96a0;
    text-align: center;
}

aside.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto 5%;
    border-radius: 10px;
    padding: 3.5% 10%;
}

aside.call-to-action section p.hero-main-text {
    font-size: 24px;
    margin-bottom: 0.5%;
}

aside.call-to-action a.cta-btn {
    border: solid 2px var(--main-text-color);
    color: var(--main-text-color);
    padding: 6px 30px;
    border-radius: 10px;
    width: fit-content;
    text-decoration: none;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 3.5%;
}

footer nav {
    display: none;
}

/* Responsive 1024px-1439px */
@media(max-width: 1439px) {
    article.hero {
        padding: 4% 5% 7.5%;
    }
    article.hero figure {
        display: flex;
        align-items: center;
    }
    article.hero figure img {
        height: 160px;
    }
    .hero-main-text {
        font-size: 40px;
    }
    .hero-secondary-text, .header-link-text {
        font-size: 15px;
    }
    article.hero section a {
        padding: 5px 24px;
    }
    .header-information-text {
        font-size: 30px;
    }
    article.information section figure {
        width: 17.5%;
    }
    .quote-section {
        padding: 5% 15%;
    }
    .quote-text {
        font-size: 30px;
    }
    .quote-section p {
        font-size: 20px;
    }
    aside.call-to-action {
        width: 80%;
    }
    aside.call-to-action section p.hero-main-text {
        font-size: 20px;
    }
    aside.call-to-action a.cta-btn {
        padding: 5px 24px;
        font-size: 16px;
    }
}

/* Responsive 768px-1023px */
@media(max-width: 1023px) {
    header figure img {
        height: 36px;
    }
    article.hero {
        padding: 2.5% 5% 7.5%;
    }
    article.hero figure img {
        height: 120px;
    }
    .hero-main-text {
        font-size: 32px;
    }
    .hero-secondary-text, .header-link-text {
        font-size: 12px;
    }
    article.hero section a {
        padding: 4px 20px;
    }
    .header-information-text {
        font-size: 24px;
    }
    article.information section figure img {
        padding: 15px;
    }
    .quote-section {
        padding: 5% 12.5%;
    }
    .quote-text {
        font-size: 24px;
    }
    .quote-section p {
        font-size: 16px;
    }
    aside.call-to-action section p.hero-main-text {
        font-size: 16px;
    }
    aside.call-to-action a.cta-btn {
        padding: 4px 20px;
        font-size: 13px;
    }
}

/* Responsive 576px-767px */
@media(max-width: 767px) {
    header figure img {
        height: 32px;
    }
    article.hero {
        padding: 2.5% 5% 5%;
    }
    article.hero figure img {
        height: 80px;
    }
    .hero-main-text {
        font-size: 24px;
    }
    .hero-secondary-text, .header-link-text {
        font-size: 10px;
    }
    article.hero section a {
        padding: 3px 15px;
    }
    .header-information-text {
        font-size: 20px;
    }
    article.information section figure {
        width: 20%;
    }
    article.information section figure img {
        padding: 10px;
    }
    .quote-section {
        padding: 5% 7.5%;
    }
    .quote-text {
        font-size: 20px;
    }
    .quote-section p {
        font-size: 13px;
    }
    aside.call-to-action {
        width: 90%;
    }
    aside.call-to-action section p.hero-main-text {
        font-size: 14px;
    }
    aside.call-to-action a.cta-btn {
        padding: 3px 15px;
        font-size: 10px;
    }
}

/* Responsive Mobile 0px-575px */
@media(max-width: 575px) {
    header {
        padding: 1% 7.5%;
    }
    article.hero {
        flex-direction: column;
        gap: 15px;
    }
    article.hero section {
        gap: 10px;
    }
    article.hero figure {
        justify-content: center;
    }
    article.hero figure img {
        height: 25vw;
    }
    article.information section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    article.information section figure {
        width: 50%;
    }
    .quote-text {
        font-size: 16px;
    }
    .quote-section p {
        font-size: 12px;
    }
    aside.call-to-action {
        padding: 2.5% 7.5%;
    }
    aside.call-to-action section p.hero-main-text {
        font-size: 12px;
    }
    aside.call-to-action a.cta-btn {
        border-width: 1.5px;
    }
    footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    footer nav {
        display: block;
    }
    footer nav menu li {
        text-align: center;
        margin: 5px;
    }
}